header[role="banner"] + nav[role="navigation"] {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;

    @include medium {
        padding-bottom: 1.75rem;
        padding-top: 1.75rem;
    }
}

nav[role="navigation"] {
    // transform: scale(0.85);
    // padding-top: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    // grid-rows: 300px;
    grid-gap: 13.3333333333%;

    padding-bottom: 1.5rem;

    @include medium {
        padding-top: $padding--vertical + 2rem;
    }

    .link {
        position: relative;
        text-align: center;
        // text-transform: capitalize;
        // color: #fc0;
        color: $yellow;
        
        font: {
            family: $font--monospace;
            // size: 1.5rem;
            size: 1rem;
            weight: 400;
            // style: italic;
        }

        @include medium {
            font-size: 1.25rem;
        }

        &:hover span, &:focus span {
            // background: $yellow;
            border: none;
            color: white;
        }

        img {
            position: absolute;
            top: -25%;
            left: 0;
            opacity: 0.65;
            opacity: 0;
            transform: scale(1.2);
            // width: 105%;
            // filter: grayscale(1);

            @include large {
                // transform: scale(1.1);
                // opacity: 0.7;
            }
        }

        &--design img {
            top: -45%;

            @include x-large {
                top: -100%;
            }
        }

        &--writing img {
            @include x-large {
                left: 10%;
            }
        }

        &--doodles img {
            @include x-large {
                left: 5%;
                top: -32.5%;
            }
        }

        &--about img {
            
        }

        

        span {
            display: block;
        }

         &:hover img {
            transition: 0.35s ease-in-out;
            transform: rotate(6deg) scale(1.7);
            opacity: 0.6;
         }

         &:nth-child(odd):hover img {
            transform: rotate(-6deg) scale(1.7);
         }

         &--about:hover img {
            transform: rotate(6deg) scale(3);
        }
        
    }
}