<footer class="footer section">
    <div class="caption" class="page-footer">

        {% if page.layout == 'layout--work' %}

            {% if page.next.url %}
                &larr;
                <a href="
                    {% if page.next.outlink %}
                        {{ page.next.outlink }}
                    {% else %}
                        {{ page.next.url }}
                    {% endif %}
                ">
                {{ page.next.title }} 
            </a>
            {% endif %}

        {% else %}
            {{ page.footer_text | markdownify }}
        {% endif %}
    </div>

    <small class="caption">

        {% if page.layout == 'layout--work' %}

            {% if page.previous.url %}
                <a href="
                    {% if page.previous.outlink %}
                        {{ page.previous.outlink }}
                    {% else %}
                        {{ page.previous.url }}
                    {% endif %}
                ">
                {{ page.previous.title }}</a>
                &rarr; 
            {% endif %}

        {% else %}
            Thanks for stopping by!
        {% endif %}

    </small>
</footer>