<title>{{ page.title }} &mdash; {{ site.title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Favicons -->

<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- Styles -->
<link rel="stylesheet" href="https://vectorjs.org/library.css">

<link href="{{ site.baseurl }}/assets/css/style.min.css" rel="stylesheet" type="text/css" media="all"/>

<!-- Social Tags -->
<meta name="description" content="Prabhav Khandelwal is a designer and developer currently based in NYC. Don't be shy, say hi!" />
<meta name="keywords" content="designer, developer, web designer, web developer, ui/ux, product design" />

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="Prabhav Khandelwal is a designer and developer currently based in NYC. Don't be shy, say hi!" />
<meta property="og:url" content="{{ page.url }}"/>
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:image" content="{{ site.image }}"/>

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ site.title }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="Prabhav Khandelwal is a designer and developer currently based in NYC. Don't be shy, say hi!">
<meta name="twitter:image" content="{{ site.image }}">
