@font-face {
    font-family: 'Untitled Sans';
    src: url('fonts/UntitledSansTest-Regular.woff2') format('woff2'),
        url('fonts/UntitledSansTest-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('fonts/UntitledSansTest-RegularItalic.woff2') format('woff2'),
        url('fonts/UntitledSansTest-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('fonts/UntitledSansTest-Medium.woff2') format('woff2'),
        url('fonts/UntitledSansTest-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('fonts/UntitledSansTest-MediumItalic.woff2') format('woff2'),
        url('fonts/UntitledSansTest-MediumItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Alpina Typewriter Beta v6';
    src: url('fonts/GTAlpinaTypewriterBetav6-Regular.woff2') format('woff2'),
        url('fonts/GTAlpinaTypewriterBetav6-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$font--heading: 'GT Alpina Typewriter Beta v6', Courier New, monospace;
$font--body: 'Untitled Sans',-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

// Colors
$yellow: #fc0;
$red: #f22613;

$black: #383838;
$gray: #666;
$gray--light: rgba(black, 0.25);

$white: #fff;
$off-white: #fafafa;

$small-width: 600px;
$medium-width: 768px;
$large-width: 1024px;
$x-large-width: 1400px;
$xx-large-width: 1640px;

@mixin small {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin x-large {
  @media (min-width: #{$x-large-width}) {
    @content;
  }
}

@mixin xx-large {
  @media (min-width: #{$xx-large-width}) {
    @content;
  }
}

@mixin text--caption {
  font: {
    family: $font--heading;
    size: 14px;
  }
  line-height: 150%;
  text-transform: uppercase;
}

@mixin text--body {
  font: {
    family: $font--body;
    size: 16px;
  }
  letter-spacing: -0.02em;
  // letter-spacing: -0.015em;
  line-height: 150%;
  color: $black;
}

@mixin text--small {
  font: {
    family: $font--body;
    size: 14px;
  }
  letter-spacing: -0.02em;
  line-height: 150%;
  color: $black;
}

@mixin text--heading {
  font: {
    family: $font--body;
    size: 20px;
  }
  line-height: 140%;
  letter-spacing: -0.02em;

  @include medium {
    font: {
      size: 24px;
    }
  }
}

h3 { @include text--heading; }
.caption { @include text--caption; }
small { @include text--small; }

.center { text-align: center; margin: 0 auto; }

// Animations

@import "https://raw.githubusercontent.com/daneden/animate.css/master/animate.min.css";

%full-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    // background-attachment: fixed;
}

%word-break {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

::selection {
  text-shadow: 1px 1px 0 $red;
  text-decoration: underline;
	// color: white;
}

::-moz-selection {
  text-shadow: 1px 1px 0 $red;
  text-decoration: underline;
	// color: white;
}

html, body {
	min-height: 100%;
}

a {
	text-decoration: none;
	color: $red;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

* {
    box-sizing: border-box;
}

:focus {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

b { font-weight: normal; }

s { text-decoration: line-through; }

i { font-style: normal; }

strong { font-weight: bold; }

em { font-style: italic; }

u { text-decoration: underline; }

img, video { max-width: 100%; }

// Form Reset

input[placeholder],
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="url"],
	input[type="submit"],
	textarea,
	select,
	option {
	  color: white;
	  padding: 1rem;
	  border-radius: 0;
	  background: rgba(white, 0);
	  outline-offset: 0;
	  max-width: 100%;
	  font: {
	  	family: $font--body;
	  }
}

input[type="submit"] {
	font: {
		family: $font--body;
		weight: bold;
	}
	text-transform: uppercase;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	// background: white;
	// color: black;
}

.hide--desktop {
  @include medium {
    display: none !important;
  }
}

.hide--mobile {
  display: none !important;

  @include medium {
    display: block !important;
  }
}