// Imports
@import "normalize";
@import "settings";
@import "base";
// @import "partials/animate";

// @import "partials/index";
// @import "partials/header";
// @import "partials/navigation";
@import "partials/work";
@import "partials/project";
@import "partials/blog";
@import "partials/about";
// @import "partials/footer";
