---
layout: default
footer_text: Back to projects
---

<section class="section project">
  <aside class=" project__aside">
    <main>

      <figure class="full cover--mobile {% if page.cover_padded %}padded{% endif %}">
        {% if page.cover_video %}
          <video autoplay="" loop="" muted="" playsinline="" poster="/assets/img/work/{{ post.slug }}.png">
              <source src="{{ site.baseurl }}/assets/img/work/{{ page.title | slugify }}.webm" type="video/webm">	
              <source src="{{ site.baseurl }}/assets/img/work/{{ page.title | slugify }}.mp4" type="video/mp4">	
          </video>
        {% else %}
        <img 
          src="{{ site.baseurl }}/assets/img/work/{{ page.title | slugify }}.png"
          srcset="{{ site.baseurl }}/assets/img/work/{{ page.title | slugify }}@2x.png 2x"
        >
        {% endif %}
      </figure>

      <h3>
        {{ page.intro }}
      </h3>
    
      <div class="info">
        {{ page.info | markdownify }}
      </div>
    </main>
  
    <footer>
      {% comment %}
      {% if page.domain %}
      <p class="caption domain">
        <a href="https://{{ page.domain }}">{{ page.domain }}</a>
        <img class="outlink" src="{{ site.baseurl }}/assets/img/outlink.svg" alt="">
      </p>
      {% endif %}
      {% endcomment %}

      {% if page.link %}
        {% for item in page.link %}
        <p class="caption links">
          <a target="_blank" href="{{ item.url }}">{{ item.copy }}</a>
          <img class="outlink" src="{{ site.baseurl }}/assets/img/outlink.svg" alt="">
        </p>
        {% endfor %}
      {% endif %}
  
      <!-- <dl> -->

        
        <!-- <dt>Role</dt>
        <span class="dots">....................................................................................................................................................................................................................................................</span> -->
        
        
        <!-- <dd>
          {% for item in page.role %}
          {{ item }}
          {% if forloop.last %}{% else %}+{% endif %}
          {% endfor %}
        </dd> -->

        {% for item in page.role %}
          <dl>
            <dt>Role</dt>
            <span class="dots">....................................................................................................................................................................................................................................................</span>
          <dd>{{ item }}</dd>
          </dl>
          
        {% endfor %}

      <!-- </dl> -->
      {% if page.team %}
      <dl>
        <dt>Team</dt>
        <span class="dots">....................................................................................................................................................................................................................................................</span>
        <dd>
          {% if page.team_url %}
            <a href="{{ page.team_url }}">{{ page.team }}</a>
            <img class="outlink" src="{{ site.baseurl }}/assets/img/outlink.svg" alt="">
            {% else %}
            {{ page.team }}
          {% endif %}
        </dd>
        {% endif %}
      </dl>
    </footer>
    
  </aside>
  
  <article class="project__main">
    {{ content }}
  </article>
  
  
  
  
  
  
</section>

